.example-detail-row{
  height: 0;

}

.lead-list{
margin: 30px auto;
}
.w-75{
  width: 75%;
}
.bg-eee{
  background-color: #eee;
}
th{
  background-color: #000000cf !important;
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
}
.m-15{
  margin: 15px 0px;
}
